*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}

.logo h2{
    font-size: 45px;
    font-weight: 900px;
}

.btn{
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    padding: 18px 35px;
}

.color-orange{
    color: #FD6E0A;
}

header{
    background-color: #FFF8F3;
    padding-top: 50px;
}
nav{
    width: 71%;
    max-width: 1140px;
    /* border: 1px solid red; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav .menu{
    display: flex;
    list-style-type: none;
    gap: 51px;

}

nav .menu a{
    font-size: 20px;
    text-decoration: none;
    color: #474747;
}